<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stranger Things</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12">
                <ul id="nav-list">
                    <a href="#galTarget">
                        <li>Gallery</li>
                    </a>
                    <a href="#descTarget">
                        <li>Description</li>
                    </a>
                    <a href="#epTarget">
                        <li>Episodes</li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="div-logo">
                    <a href="/"><img src="/images/stanger-things_raw.png" class="img-fluid" id="logo"
                            alt="Stranger Things"></a>
                </div>

                <a name="descTarget">
                    <h4>Description</h4>
                </a>
                <div id="description">

                </div>
            </div>

            <div class="col-sm-8" id="gallery">
                <a name="galTarget">

                    <ul id="slides">
                        <li class="slide showing"><img id="slide1" src="" alt=""></li>
                        <li class="slide"><img id="slide2" src="" alt=""></li>
                        <li class="slide"><img id="slide3" src="" alt=""></li>
                        <li class="slide"><img id="slide4" src="" alt=""></li>
                    </ul>
                </a>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12" id="background">

            </div>
        </div>-->

        <a name="epTarget">
            <h4>Episodes</h4>
        </a>
        <div class="row">
            <div class="col-sm-6" id="s1">

            </div>
            <div class="col-sm-6" id="s2">

            </div>
        </div>

        <select id="language" onchange="setLanguage()">
            <option value="EN">English</option>
            <option value="PG">Pig Latin</option>
        </select>
    </div>

    <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>